$icomoon-font-family: "heroicons-outline" !default;
$icomoon-font-path: "fonts" !default;

$hero-outline-adjustments-copy-2: "\e900";
$hero-outline-annotation: "\e901";
$hero-outline-archive: "\e902";
$hero-outline-arrow-circle-down: "\e903";
$hero-outline-arrow-circle-left: "\e904";
$hero-outline-arrow-circle-right: "\e905";
$hero-outline-arrow-circle-up: "\e906";
$hero-outline-arrow-down: "\e907";
$hero-outline-arrow-left: "\e908";
$hero-outline-arrow-narrow-down: "\e909";
$hero-outline-arrow-narrow-left: "\e90a";
$hero-outline-arrow-narrow-right: "\e90b";
$hero-outline-arrow-narrow-up: "\e90c";
$hero-outline-arrow-right: "\e90d";
$hero-outline-arrow-up: "\e90e";
$hero-outline-at-symbol: "\e90f";
$hero-outline-bell: "\e910";
$hero-outline-book-open: "\e911";
$hero-outline-bookmark: "\e912";
$hero-outline-briefcase: "\e913";
$hero-outline-calendar: "\e914";
$hero-outline-camera: "\e915";
$hero-outline-cash: "\e916";
$hero-outline-chart-pie: "\e917";
$hero-outline-chat: "\e918";
$hero-outline-check: "\e919";
$hero-outline-check-circle: "\e91a";
$hero-outline-cheveron-down: "\e91b";
$hero-outline-cheveron-left: "\e91c";
$hero-outline-cheveron-right: "\e91d";
$hero-outline-cheveron-up: "\e91e";
$hero-outline-clipboard: "\e91f";
$hero-outline-clipboard-check: "\e920";
$hero-outline-clipboard-copy: "\e921";
$hero-outline-clipboard-list: "\e922";
$hero-outline-clock: "\e923";
$hero-outline-cloud-download: "\e924";
$hero-outline-cloud-upload: "\e925";
$hero-outline-code: "\e926";
$hero-outline-cog: "\e927";
$hero-outline-collection: "\e928";
$hero-outline-color-swatch: "\e929";
$hero-outline-credit-card: "\e92a";
$hero-outline-currency-dollar: "\e92b";
$hero-outline-currency-euro: "\e92c";
$hero-outline-currency-pound: "\e92d";
$hero-outline-currency-rupee: "\e92e";
$hero-outline-currency-yen: "\e92f";
$hero-outline-document: "\e930";
$hero-outline-document-add: "\e931";
$hero-outline-document-download: "\e932";
$hero-outline-document-duplicate: "\e933";
$hero-outline-document-remove: "\e934";
$hero-outline-dots-circle-horizontal: "\e935";
$hero-outline-dots-horizontal: "\e936";
$hero-outline-dots-vertical: "\e937";
$hero-outline-download: "\e938";
$hero-outline-duplicate: "\e939";
$hero-outline-emoji-happy: "\e93a";
$hero-outline-emoji-sad: "\e93b";
$hero-outline-exclamation: "\e93c";
$hero-outline-exclamation-circle: "\e93d";
$hero-outline-external-link: "\e93e";
$hero-outline-eye: "\e93f";
$hero-outline-filter: "\e940";
$hero-outline-flag: "\e941";
$hero-outline-folder: "\e942";
$hero-outline-globe: "\e943";
$hero-outline-globe-alt: "\e944";
$hero-outline-hashtag: "\e945";
$hero-outline-heart: "\e946";
$hero-outline-home: "\e947";
$hero-outline-inbox: "\e948";
$hero-outline-inbox-in: "\e949";
$hero-outline-information-circle: "\e94a";
$hero-outline-light-bulb: "\e94b";
$hero-outline-lightning-bolt: "\e94c";
$hero-outline-link: "\e94d";
$hero-outline-location-marker: "\e94e";
$hero-outline-lock-closed: "\e94f";
$hero-outline-lock-open: "\e950";
$hero-outline-mail: "\e951";
$hero-outline-mail-open: "\e952";
$hero-outline-menu: "\e953";
$hero-outline-menu-alt-1: "\e954";
$hero-outline-menu-alt-2: "\e955";
$hero-outline-menu-alt-3: "\e956";
$hero-outline-menu-alt-4: "\e957";
$hero-outline-minus-circle: "\e958";
$hero-outline-moon: "\e959";
$hero-outline-office-building: "\e95a";
$hero-outline-paper-clip: "\e95b";
$hero-outline-pencil: "\e95c";
$hero-outline-pencil-alt: "\e95d";
$hero-outline-phone: "\e95e";
$hero-outline-phone-incoming: "\e95f";
$hero-outline-phone-outgoing: "\e960";
$hero-outline-photograph: "\e961";
$hero-outline-plus: "\e962";
$hero-outline-plus-circle: "\e963";
$hero-outline-printer: "\e964";
$hero-outline-qrcode: "\e965";
$hero-outline-question-mark-circle: "\e966";
$hero-outline-receipt-refund: "\e967";
$hero-outline-refresh: "\e968";
$hero-outline-reply: "\e969";
$hero-outline-scale: "\e96a";
$hero-outline-search: "\e96b";
$hero-outline-selector: "\e96c";
$hero-outline-share: "\e96d";
$hero-outline-shield-check: "\e96e";
$hero-outline-shield-exclamation: "\e96f";
$hero-outline-sort-ascending: "\e970";
$hero-outline-sort-descending: "\e971";
$hero-outline-sparkles: "\e972";
$hero-outline-sun: "\e973";
$hero-outline-switch-horizontal: "\e974";
$hero-outline-switch-vertical: "\e975";
$hero-outline-tag: "\e976";
$hero-outline-template: "\e977";
$hero-outline-ticket: "\e978";
$hero-outline-translate: "\e979";
$hero-outline-trash: "\e97a";
$hero-outline-trending-down: "\e97b";
$hero-outline-trending-up: "\e97c";
$hero-outline-upload: "\e97d";
$hero-outline-user: "\e97e";
$hero-outline-user-add: "\e97f";
$hero-outline-user-circle: "\e980";
$hero-outline-user-group: "\e981";
$hero-outline-user-remove: "\e982";
$hero-outline-users: "\e983";
$hero-outline-view-boards: "\e984";
$hero-outline-view-list: "\e985";
$hero-outline-volume-off: "\e986";
$hero-outline-volume-up: "\e987";
$hero-outline-x: "\e988";
$hero-outline-x-circle: "\e989";
$hero-outline-zoom-in: "\e98a";
$hero-outline-zoom-out: "\e98b";

