$icomoon-font-family: "heroicons-solid" !default;
$icomoon-font-path: "fonts" !default;

$hero-solid-adjustments: "\e916";
$hero-solid-annotation: "\e91c";
$hero-solid-archive: "\e970";
$hero-solid-arrow-circle-down: "\e956";
$hero-solid-arrow-circle-left: "\e92d";
$hero-solid-arrow-circle-right: "\e938";
$hero-solid-arrow-circle-up: "\e91a";
$hero-solid-arrow-down: "\e976";
$hero-solid-arrow-left: "\e908";
$hero-solid-arrow-narrow-down: "\e95b";
$hero-solid-arrow-narrow-left: "\e926";
$hero-solid-arrow-narrow-right: "\e96f";
$hero-solid-arrow-narrow-up: "\e93a";
$hero-solid-arrow-right: "\e940";
$hero-solid-arrow-up: "\e983";
$hero-solid-at-symbol: "\e97c";
$hero-solid-bell: "\e946";
$hero-solid-book-open: "\e989";
$hero-solid-bookmark: "\e979";
$hero-solid-briefcase: "\e94c";
$hero-solid-calendar: "\e97e";
$hero-solid-camera: "\e913";
$hero-solid-cash: "\e92e";
$hero-solid-chart-pie: "\e90c";
$hero-solid-chat: "\e941";
$hero-solid-check: "\e91b";
$hero-solid-check-circle: "\e986";
$hero-solid-cheveron-down: "\e90d";
$hero-solid-cheveron-left: "\e971";
$hero-solid-cheveron-right: "\e985";
$hero-solid-cheveron-up: "\e928";
$hero-solid-clipboard: "\e982";
$hero-solid-clipboard-check: "\e987";
$hero-solid-clipboard-copy: "\e911";
$hero-solid-clipboard-list: "\e958";
$hero-solid-clock: "\e959";
$hero-solid-cloud-download: "\e901";
$hero-solid-cloud-upload: "\e91f";
$hero-solid-code: "\e94e";
$hero-solid-cog: "\e90e";
$hero-solid-collection: "\e93c";
$hero-solid-color-swatch: "\e94d";
$hero-solid-credit-card: "\e94a";
$hero-solid-currency-dollar: "\e97f";
$hero-solid-currency-euro: "\e91d";
$hero-solid-currency-pound: "\e988";
$hero-solid-currency-rupee: "\e96a";
$hero-solid-currency-yen: "\e980";
$hero-solid-document: "\e929";
$hero-solid-document-add: "\e923";
$hero-solid-document-download: "\e948";
$hero-solid-document-duplicate: "\e978";
$hero-solid-document-remove: "\e97b";
$hero-solid-dots-circle-horizontal: "\e919";
$hero-solid-dots-horizontal: "\e906";
$hero-solid-dots-vertical: "\e939";
$hero-solid-download: "\e937";
$hero-solid-duplicate: "\e954";
$hero-solid-emoji-happy: "\e931";
$hero-solid-emoji-sad: "\e902";
$hero-solid-exclamation: "\e973";
$hero-solid-exclamation-circle: "\e968";
$hero-solid-external-link: "\e933";
$hero-solid-eye: "\e974";
$hero-solid-filter: "\e930";
$hero-solid-flag: "\e94f";
$hero-solid-folder: "\e93f";
$hero-solid-globe: "\e943";
$hero-solid-globe-alt: "\e96b";
$hero-solid-hashtag: "\e921";
$hero-solid-heart: "\e95e";
$hero-solid-home: "\e98a";
$hero-solid-inbox: "\e93b";
$hero-solid-inbox-in: "\e934";
$hero-solid-information-circle: "\e963";
$hero-solid-light-bulb: "\e915";
$hero-solid-lightning-bolt: "\e92f";
$hero-solid-link: "\e964";
$hero-solid-location-marker: "\e935";
$hero-solid-lock-closed: "\e981";
$hero-solid-lock-open: "\e92b";
$hero-solid-mail: "\e967";
$hero-solid-mail-open: "\e90b";
$hero-solid-menu: "\e905";
$hero-solid-menu-alt-1: "\e966";
$hero-solid-menu-alt-2: "\e95c";
$hero-solid-menu-alt-3: "\e961";
$hero-solid-menu-alt-4: "\e947";
$hero-solid-minus-circle: "\e95d";
$hero-solid-moon: "\e914";
$hero-solid-office-building: "\e96e";
$hero-solid-paper-clip: "\e942";
$hero-solid-pencil: "\e920";
$hero-solid-pencil-alt: "\e92c";
$hero-solid-phone: "\e95a";
$hero-solid-phone-incoming: "\e922";
$hero-solid-phone-outgoing: "\e96d";
$hero-solid-photograph: "\e900";
$hero-solid-plus: "\e953";
$hero-solid-plus-circle: "\e952";
$hero-solid-printer: "\e909";
$hero-solid-qrcode: "\e977";
$hero-solid-question-mark-circle: "\e94b";
$hero-solid-receipt-refund: "\e932";
$hero-solid-refresh: "\e912";
$hero-solid-reply: "\e92a";
$hero-solid-scale: "\e917";
$hero-solid-search: "\e944";
$hero-solid-selector: "\e93e";
$hero-solid-share: "\e957";
$hero-solid-shield-check: "\e951";
$hero-solid-shield-exclamation: "\e945";
$hero-solid-sort-ascending: "\e904";
$hero-solid-sort-descending: "\e90a";
$hero-solid-sparkles: "\e903";
$hero-solid-sun: "\e969";
$hero-solid-switch-horizontal: "\e950";
$hero-solid-switch-vertical: "\e97d";
$hero-solid-tag: "\e91e";
$hero-solid-template: "\e955";
$hero-solid-ticket: "\e95f";
$hero-solid-translate: "\e965";
$hero-solid-trash: "\e984";
$hero-solid-trending-down: "\e93d";
$hero-solid-trending-up: "\e972";
$hero-solid-upload: "\e936";
$hero-solid-user: "\e98b";
$hero-solid-user-add: "\e925";
$hero-solid-user-circle: "\e949";
$hero-solid-user-group: "\e910";
$hero-solid-user-remove: "\e927";
$hero-solid-users: "\e962";
$hero-solid-view-boards: "\e924";
$hero-solid-view-list: "\e96c";
$hero-solid-volume-off: "\e975";
$hero-solid-volume-up: "\e907";
$hero-solid-x: "\e97a";
$hero-solid-x-circle: "\e918";
$hero-solid-zoom-in: "\e90f";
$hero-solid-zoom-out: "\e960";

